<div class="container mt-3">

  <app-count-empleados
  [filtrarGenero]="filtrarGenero"
  [obtenerTotal]="obtenerTotal"
  [obtenerMasculinos]="obtenerMasculinos"
  [obtenerFemeninos]="obtenerFemeninos"
  [radioButtonSeleccionado]="radioButtonSeleccionado"
  ></app-count-empleados>
  <div class="card mt-3">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Sexo</th>
            <th>Salario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let empleado of empleados">
            <td>{{empleado.id}}</td>
            <td>{{empleado.nombre}}</td>
            <td>{{empleado.apellido}}</td>
            <td>{{empleado.genero}}</td>
            <td>{{empleado.salario | currency}}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
